*{
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    color: #000;
    background-color: #fff;
    font-family: "Montserrat";
    font-style: normal;
}

.header_page{
    width: 1415px;
    min-height: 900px;
    background: linear-gradient(180deg, #EDA418 47.4%, rgba(237, 164, 24, 0) 100%);
}

.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 70px;
    padding-top: 105px;
    padding-right: 65px;
}

.logo{
    display: block;
    margin-top: 8px;
}

.nav_list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: auto o;
    padding: 0;
    margin-left: 149px;
    list-style: none;
}

.nav_header_title{
    display: block;
    min-width: 200px;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    text-decoration: none;
    color: #000000;
}

.nav_button{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #000000;
    border: none;
    border-radius: 100%;
}

.container_page_header{
    display: flex;
    padding-top: 25px;
    gap: 20px;
    padding-left: 100px;
}

.header_list{
    width: 600px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.text_header{
    margin: 0;
    padding: 0;
    padding-top: 190px;
    font-weight: 800;
    font-size: 33px;
    line-height: 40px;
}

.text_header_discount{
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.container_button_header{
    display: block;
    margin: 0;
    padding: 15px;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    color:#fff;
    background: rgba(229, 38, 38, 1);
    border-radius: 50px;
    border: none;
}

.main_page{
    width: 1415px;
    min-height: 900px;
    text-align: center;
}

.container_catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.catalog_title{
    margin: 0;
    padding: 0;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
}

.catalog_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    margin-left: 15px;
    margin-top: 40px;
    padding: 0;
    gap: 40px 30px;
    list-style: none;
}

.catalog_item{
    width: 400px;
}

.catalog_item_text{
    margin: 0;
    padding: 0;
    padding-top: 15px;
    font-weight: 500;
    font-size: 34px;
    line-height: 45px;
    color: #000000;
}

.footer_page{
    width: 1415px;
    min-height: 450px;
    text-align: center;
    background-image: linear-gradient(0deg, #EDA418, rgba(237, 164, 24, 0) 100%);
}

.footer_list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-top: 160px;
    gap: 100px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    justify-content: center;
    list-style: none;
}

.nav_footer_title{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000000;
}

.footer_page_list{
    margin: 0;
    padding: 0;
    padding-top: 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    list-style: none;
}

.footer_text{
    padding-top: 25px;
}

.footer_contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    list-style: none;
    padding-top: 25px;
}

.footer_images{
    display: block;
}

.footer_images.VK{
    padding-top: 3px;
}